body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(219, 111, 61, 0.4);
}

.logo {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.social {
	margin-left: 27%;
}

h2 {
	text-align: left;
	margin-left: 25px;
}

h3 {
	text-align: left;
	margin-left: 25px;
}

.navBar {
	width: 100%;
	background-color: #333;
	overflow: hidden;
	opacity: 92%;
}

.navBar a {
	box-sizing: border-box;
	float: left;
	width: 25%;
	display: block;
	padding: 12px;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}

.navBar a:hover {
	background-color: #333;
	color: white;
}

.navBar a.active {
	background-color: #333;
	border-bottom: 5px solid #db6f3d;
}

.navBar .icon {
	display: none;
	color: white;
}

.menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.menu:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.deals {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.deals:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.social {
	margin-left: 20%;
}

.social .fa {
	padding: 20px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	border-radius: 50%;
}

.social:hover {
	opacity: 0.7;
}

.social .fa-facebook {
	background: #3B5998;
	color: white;
}

.social .fa-twitter {
  background: #55ACEE;
  color: white;
}

.social .fa-instagram {
  background: #125688;
  color: white;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Collapsible Menu*/
.dealsCollapse {		
  color: white;
  background-color: #777;
  cursor: pointer;
  padding: 18px;
  padding-top: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.arrowIcon {
	float: right;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.active, .dealsCollapse:hover {
	background-color: #555;
}

.dealsCollapse:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.fa {
	cursor: pointer;
	user-select: none;
}

/*.active:after {
	content: "\f0ab";
}*/

.chef {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:250px;
	height:170px;
}

.contactContainer {
	padding-top: 25px;
	padding-bottom: 25px;
}

input[type=text], [type=number], [type=email], textarea {
	width: 100%;
	background-color: rgb(219, 111, 61, 0.4);
	color: black;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid;
	resize: vertical;
}

input[type=submit] {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.cvBtn {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#toast1 {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#toast1.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.trash, .edit {
  font-size: 16px;
  cursor: pointer;
}

.basket {
	float: center;
	background-color: #EBE9C4;
	width: 320px;
	height: 300px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	position: relative;
}
.basket2 {
	float: center;
	background-color: #EBE9C4;
	width: 320px;
	height: 200px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	position: relative;
}

.items {
  width: 290px;
  padding: 3px;
  border-bottom: 2px solid;
  outline: none;
  margin-left: 5px;
}

.btns {
	text-align:right;
	border:0;
}

.payment {
	width: 100%;
	background-color: #333;
	overflow: hidden;
	opacity: 92%;
}

.payment button {
	box-sizing: border-box;
	background-color: #555;
	float: left;
	width: 33.33%;
	display: block;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popupContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.payBtn {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btnIcon {
	float: right;
}

.search input[type=text] {
	float: left;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	border: none;
	font-size: 17px;
}

.container {
	border: 2px solid;
}

@media screen and (max-width: 600px) {
	.navBar a:not(:first-child) {display: none;}
	.navBar a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.navBar.responsive {position: relative;}
	.navBar.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		color: white;
	}
	.navBar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.payment button {
		font-size: 12px;
	}
}
